@media (max-width: 768px) {
    #navbar-aw ul {
        width: 100% !important;
        float: left !important;
        margin-top: 0;
        margin-bottom: 0;
    }

    .header-branded {
        padding: 10px;
    }

    .lipsum h1 {
        font-size: 5em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 15px
    }

    a.shop-btn {
        font-size: 1em;;;
    }
}


/* navbar break point */


@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }

    .right-indicator {
        display: none !important;
    }

    .navbar-right-aw {
        margin-top: -22px !important;
        max-width: 100% !important;
    }

    .navbar-right-aw li {
        display: block;
        width: 100%;
    }

    .navbar-right-aw li.icon {
        width: auto;
    }
}

@media (max-width: 320px) {
    .lipsum h1 {
        font-size: 4em;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 10px;
    }

    .lipsum {
        padding: 50px;
    }

    .col-content {
        padding: 0px;
    }

    .col-content p {
        padding: 10px;
    }

    .fits-perfect {
        padding: 40px;
        background-color: #fff;
        text-align: center;
    }

    .fits-perfect h2,
    .fits-perfect h3 {
        letter-spacing: 2px;
    }

    .services-row {
        padding: 0px;
    }

    .section-row {
        border: 0;
        opacity: 0.9;
    }

    .services-container {
        background-color: #fff;
        text-align: center;
        padding: 20px;
    }

    .services {
        background-color: #fff;
        padding: 20px;
    }

    hr {
        width: 10%;
    }

}

@media (max-width: 480px) {
    .lipsum h1 {
        font-size: 4em;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 10px;
    }

    .lipsum {
        padding: 50px;
    }

    .lipsum h2 {
        letter-spacing: 5px;
        text-transform: uppercase;
        padding: 10px;
    }

    .lipsum p {
        padding: 0px;
        letter-spacing: 1px;
        word-spacing: 0px;
        max-width: 60%;
    }

    .col-content {
        padding: 0px;
        border-radius: 0px;
    }

    .col-left {
        /*border-left: 5px solid #fff;*/
    }

    .col-right {
        /*border-right: 5px solid #fff;*/
        /*margin-left: 5px;*/
    }

    .fits-perfect {
        padding: 40px;
        background-color: #fff;
        text-align: center;
        /*        border-radius: 5px;*/
    }

    .fits-perfect h2,
    .fits-perfect h3 {
        letter-spacing: 2px;
    }

    .services-row {
        padding: 0px;
    }

    .section-row {
        border: 0;
        opacity: 0.9;
    }

    .services-container {
        background-color: #fff;
        text-align: center;
        padding: 20px;
        width: 100%;
    }

    .services {
        background-color: #fff;
        padding: 20px;
    }

    hr {
        width: 10%;
    }

}

@media (max-width: 992px) {
    .section-row {
        border: 0;
        opacity: 0.9;
    }

    .fits-perfect {
        padding: 40px;
        background-color: #fff;
        text-align: center;
        /*        border-radius: 5px;*/
    }

    .header-branded-mobile {
        display: block !important;
    }

    .header-branded-desk {
        display: none;
    }

    .col-left {
        border: none;
    }

    .col-right {
        /*    border-right: 5px solid #fff;*/
        /*    margin-left: 5px;*/
        border: none;
        margin: 0;
    }

    .d_none {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .f-col-sm {
        width: 13.333%;
    }

    .f-col-md {
        width: 19.999%;
    }

    .f-col-md1 {
        width: 18.888%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #f-col-sm1 {
        max-height: 234px;
    }
}